.card {
	width: 700px;
	margin: 30px;
	padding: 20px;
	border: 1px solid black;
	align-items: flex-start;
}

.card .card-body {
	display: flex;
	align-items: flex-start;
}

.card .card-body img {
	border-radius: 20px;
}

.card .card-body .content {
	margin-top: 20px;
	margin-left: 30px;
}

.card .card-body .content .title {
	font-size: 30px;
	margin-bottom: 20px;
}

.card .card-body .content .desc {
	margin-bottom: 20px;
}

.card .card-body .content .actions {
	display: flex;
	justify-content: flex-end;
}

.card .card-body .content .actions .readmore {
	font-weight: bold;
	padding: 10px;
	color: white;
	border-radius: 50px;
	background: black;
}

.card .card-action {
	display: flex;
	justify-content: center;
}

.card .card-action .nav {
	width: 50px;
	height: 10px;
	margin-left: 10px;
	border-radius: 10px;
	background: rgba(51, 51, 51, .3);
}

.card .card-action .nav.active {
	background: #333;
}

