.card{
    width: 700px;
    border: 1px solid black;
    padding: 20px;
    margin: 30px;
    align-items: flex-start;
    .card-body{
        display: flex;
        align-items: flex-start;
        img{
            border-radius: 20px;
            // margin-right: 20px;
        }
        .content{
            margin-left: 30px;      
            margin-top: 20px;
            .title{
            font-size: 30px;
            margin-bottom: 20px;            
            }
            .desc{
                margin-bottom: 20px;
            }
            .actions{
                display: flex;
                justify-content: flex-end;
                .readmore{
                    padding: 10px;
                    color: white;
                    background: black;
                    border-radius: 50px;
                    font-weight: bold;
        
                }
            }
        }
    }
    .card-action{
       
        display: flex;
        justify-content: center;
        
        .nav{
            width: 50px;
            height: 10px;
            background: rgba($color: #333, $alpha: 0.3);
            margin-left: 10px;
            border-radius: 10px;
                &.active{
                    background: #333;
                }
        }
    }
}